html {
  box-sizing: border-box;
}

body {
  font-size: 12px;
  color: #fff;
  padding-top: 10px;
  margin: 0;
  line-height: 20px;
}

header {
  padding: 200px;
  background-image: url("static-images/starry-sky.jpg");
  background-size: cover;
  
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 60px;
  opacity: 0.95;
  margin-bottom: 40px;
}

p {
  font-family: Verdana, sans-serif;
  font-size: 14px;
  opacity: 0.7;
}

.header-intro {
  padding-right: 570px;
  line-height: 20px;
}

.phone-icons {
  display: flex;
}

.phone-icon {
  margin: 0 0.4em;
  background-color: black;
  opacity: 0.5;
  color: white;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.phone-icon: hover{
  background-color: #4448BA;
}

.second-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px 80px;
}

.icon-title-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 30px;
  margin: 10px 30px;
}

.other-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.other-icon {
  background-color: #4448BA;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.itt-header {
  color: black;
  opacity: 0.9;
}

.itt-text {
  color: #595858;
  text-align: center;
  padding: 0;
  margin: 0;
}

.third-section {
  display: flex;
  background-color: #E2DFDE;
  color: #595858;
  padding: 40px 160px;
}

.third-leftside {
  flex-direction: column;
  /*padding-right: 250px;*/
}

iframe {
  width: 560px;
}

.input-bar {
  display: flex;
  padding-top: 10px;
}

input {
  font-size: 13px;
  color: #595858;
  background-color: white;
  padding: 20px;
  border: none;
  border-radius: 5px 0 0 5px;

}

input[type=submit] {
  background-color: #4448BA;
  color: white;
  border-radius: 0 5px 5px 0;
}

iframe {
  border-radius: 5px;
}

.fourth-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #595858;
  padding: 20px 160px;
}

.quote {
  text-align: center;
  margin: 0 100px;
  padding-top: 10px;
}

.photo-bar {
  display: flex;
  
}

.photo {
  padding: 3px;
}

.contact-header {
  margin-bottom: 0;
}

.content-text {
  margin-top: 0;
}

.social-icons {
  display: flex;
  flex-direction: horizontal;
}

.social-icon {
  padding: 5px;
}

.footer {
  color: white;
  opacity: 1;
  background-color: #4448BA;
  justify-content: center;
  align-items: center;
}

.quick-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quick-link {
  padding: 10px;
}